## Data science group project

Hi this is just test

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
df = pd.read_csv('files/BusCardType.csv', index_col=0)

In [5]:
df

,Types of passengers,Jul-16,Aug-16,Sep-16,Oct-16,Nov-16,Dec-16,Jan-17,Feb-17,Mar-17,...,Nov-20,Dec-20,Jan-21,Feb-21,Mar-21,Apr-21,May-21,Jun-21,Jul-21,Aug-21
contract,,,,,,,,,,,,,,,,,,,,,
Sydney Metro Bus Contract 1,Adult,"390,433","386,386","370,068","381,402","405,245","353,196","341,332","386,683","437,169",...,"278,318","261,170","230,528","265,311","294,367","271,849","289,229","259,924","127,354","102,883"
Sydney Metro Bus Contract 1,Adult Single Bus Trip 1,NaN,"25,753","23,416","23,138","23,352","22,065","21,306","21,277","22,132",...,2,3,3,3,10,4,8,8,7,6
Sydney Metro Bus Contract 1,Adult Single Bus Trip 2,NaN,"17,882","14,984","14,465","13,914","13,285","12,021","11,824","12,923",...,NaN,NaN,NaN,NaN,1,7,2,4,1,4
Sydney Metro Bus Contract 1,Adult Single Bus Trip 3,NaN,"1,880","1,459","1,355","1,198","1,102","1,098","1,009",992,...,NaN,NaN,NaN,3,NaN,NaN,NaN,4,NaN,2
Sydney Metro Bus Contract 1,Child/Youth,"62,800","67,010","70,022","78,951","76,328","77,290","80,779","80,920","82,720",...,"41,384","47,658","46,574","45,469","42,069","52,658","42,457","34,715","11,205","6,708"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Outer Sydney Metro Bus Contract 5,Employee,"3,156","3,334","3,092","2,864","3,203","3,214","3,003","2,871","3,233",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outer Sydney Metro Bus Contract 5,Free Travel,957,"1,162","1,061","1,063","1,215","1,388","1,309","1,127","1,452",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outer Sydney Metro Bus Contract 5,School Student,"45,224","110,239","75,262","71,065","92,417","33,800","5,512","91,284","118,681",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outer Sydney Metro Bus Contract 5,Senior/Pensioner,"124,570","139,526","137,657","134,642","143,341","135,737","127,356","131,825","149,897",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Grand Total,Total,"21,198,509","25,210,772","23,011,540","23,095,302","24,422,383","20,880,865","19,550,895","22,534,683","26,811,115",...,"14,809,745","13,391,873","11,567,325","14,964,876","17,032,074","15,471,111","16,650,452","13,859,329","5,097,116","4,277,052"